<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">{{ website_name }}</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		{{ render_main_navigation() }}
		
		{% if app.user %}
			<a href="{{ path("rgpd_delete_user") }}" class="btn btn-danger ml-auto">Supprimer mon compte</a>
		{% endif %}
		
	</div>
</nav>
