{% block _page_slug_widget %}
	<div class="d-flex align-items-center mb-2">
		<p class="font-weight-bold mb-0">{{ app.request.getSchemeAndHttpHost() ~ "/page/" }}</p>
		{{ form_widget(form) }}
	</div>
{% endblock %}
