/* bootstrap override */
label.required:after { 
    content:"*";
    margin-left: 5px;
    color: var(--red);
}

.topbar .fa-user {
    font-size: 17px;
}

.btn.rounded.with-icon {
    border-radius: 50%!important;
    width: 40px!important;
    height: 40px!important;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    padding: 0;
}

.btn.rounded.with-icon *{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn.rounded.with-icon:last-child {
    margin-right: 0;
}

.table td {
    vertical-align: middle;
}

.table .entry-date {
    width: 180px!important;
}

.table .entry-position {
    text-align: center;
    width: 100px!important;
}

.table .entry-position .bullet {
    margin: 0 auto;
}

.table .action {
    width: 150px!important;
}

.table th.visible {
    width: 100px!important;
    text-align: center;
}

.table td.visible {
    text-align: center;
}

.table th.number-element {
    width: 175px!important;
    text-align: center;
}

.table td.number-element {
    text-align: center;
}

.table th.main {
    width: 200px!important;
    text-align: center;
}

.table td.main {
    text-align: center;
}

.status-icon {
    font-size: 1.2rem;
}

.status-icon.check-icon i {
    color: var(--success);
}

.status-icon.cross-icon i {
    color: var(--danger);
}

.badge {
    padding: .30em .5em!important;
}

.short-choices {
    max-width: 150px;
}

.collection-item > div {
    width: 100%;
}

.collection-remove-link {
    max-height: 29px;
    align-self: center;
    margin: 1rem .75em 0 0;
}

.collection li {
    position: relative;
    list-style-type: none;
}

.collection .bullet {
    position: absolute;
    top: 0;
    right: 0;
}

.move-icon i {
    font-size: 22px;
    margin-right: 20px;
    cursor: pointer;
}

.collection .nav-item {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 47px);
}

.collection .nav-item-content {
    align-items: center;
}

.collection-item {
    display: flex;
    flex-wrap: initial;
}

.bullet {
    border-radius: 50%;
    background: var(--primary);
    color: var(--white);
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}

.card-seo .card-body {
    height: 308px;
}

.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-menu .dropdown-hover {
    display: block;
    width: 100%;
    padding: .5rem 1.5rem!important;
    clear: both;
    font-weight: 400;
    color: #212529!important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-submenu::after {
    position: absolute;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    right: -5px;
    top: 50%;
    color: rgba(255,255,255,.5)
}

.dropdown-menu .dropdown-hover::after {
    position: absolute;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    top: 50%;
}

.image-min {
    max-width: 150px;
}

.module-item {
    display: flex;
    align-items: center;
}

.module-item p {
    margin-bottom: 0;

    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-bottom: 0;
    top: 3px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: var(--primary);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.dropdown-submenu::after, .dropdown-hover::after {
    border: none!important;
}

.dropdown-submenu svg {
    color: rgba(255,255,255,.5);
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.dropdown-menu .dropdown-submenu svg {
    color: black;
    right: 15px;
}

