/* bootstrap override */
label.required:after { 
    content:"*";
    margin-left: 5px;
    color: var(--red);
}

.topbar .fa-user {
    font-size: 17px;
}

.btn.rounded.with-icon {
    border-radius: 50%!important;
    width: 40px!important;
    height: 40px!important;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    padding: 0;
}

.btn.rounded.with-icon *{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn.rounded.with-icon:last-child {
    margin-right: 0;
}

.table td {
    vertical-align: middle;
}

.table .entry-date {
    width: 180px!important;
}

.table .entry-position {
    text-align: center;
    width: 100px!important;
}

.table .entry-position .bullet {
    margin: 0 auto;
}

.table .action {
    width: 150px!important;
}

.table th.visible {
    width: 100px!important;
    text-align: center;
}

.table td.visible {
    text-align: center;
}

.table th.number-element {
    width: 175px!important;
    text-align: center;
}

.table td.number-element {
    text-align: center;
}

.table th.main {
    width: 200px!important;
    text-align: center;
}

.table td.main {
    text-align: center;
}

.status-icon {
    font-size: 1.2rem;
}

.status-icon.check-icon i {
    color: var(--success);
}

.status-icon.cross-icon i {
    color: var(--danger);
}

.badge {
    padding: .30em .5em!important;
}

.short-choices {
    max-width: 150px;
}

.collection-remove-link {
    max-height: 29px;
    align-self: center;
    margin: 1rem .75em 0 0;
}

.collection li {
    position: relative;
    list-style-type: none;
}

.collection .bullet {
    position: absolute;
    top: 0;
    right: 0;
}

.move-icon i {
    font-size: 22px;
    margin-right: 20px;
    cursor: pointer;
}

.collection .nav-item {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 47px);
}

.bullet {
    border-radius: 50%;
    background: var(--primary);
    color: var(--white);
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}

.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-menu .dropdown-click {
    display: block;
    width: 100%;
    padding: .5rem 1.5rem!important;
    clear: both;
    font-weight: 400;
    color: #212529!important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-submenu::after {
    position: absolute;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    right: -5px;
    top: 50%;
    color: rgba(255,255,255,.5)
}

.dropdown-menu .dropdown-click::after {
    position: absolute;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    top: 50%;
}

.image-min {
    max-width: 150px;
}